<div class="context__section">
  <div class="context__section-title">
    ABOUT - STON
  </div>
  <div class="context__section-text">
    Ad consectetur aliqua voluptate nostrud. Est anim id ut enim elit tempor sunt irure aliquip minim veniam veniam
    aute. Nulla laboris nostrud sint irure.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quaerat aspernatur incidunt facilis expedita
    voluptas esse architecto, ipsa laborum officiis ut possimus id! Dolorem, voluptatibus repellat? Suscipit error
    possimus saepe.
    <br>
    <br>
    Aliqua velit enim reprehenderit mollit do et officia consectetur do labore. Nostrud cupidatat ullamco commodo
    occaecat ea tempor ut laborum incididunt occaecat commodo. Est ullamco fugiat elit ad in eiusmod commodo proident
    qui adipisicing adipisicing ullamco. Ad labore velit Lorem fugiat duis tempor ipsum. Aute minim pariatur non velit
    est do sint magna nisi aute. Lorem consectetur dolore in incididunt mollit exercitation sunt magna consectetur sint
    enim dolore. Exercitation proident velit et officia ad in nisi nulla.
  </div>
  <div class="context__section-image">
    <img src="/src/assets/jesus.png" alt="">
  </div>
</div>
<div class="more-detail__section">
  <div class="row">
    <div class="more-detail__section-img">
      <img src="/src/assets/landscape-859487_1280.jpg" alt="">
    </div>
    <div class="more-detail__section-text">
      Labore consequat quis culpa non labore proident. Deserunt excepteur cupidatat mollit nulla laborum eiusmod
      eiusmod commodo do reprehenderit laborum id. Cupidatat voluptate sit commodo magna enim occaecat sit est aute
      voluptate labore. In nulla labore laborum in officia mollit irure aliqua irure Lorem.
    </div>
  </div>
</div>
<app-footer></app-footer>