<!-- <app-header></app-header> -->
<section class="home__section">
  <div>
    <div class="logo__container">
      <img class="logo__container-image" src="/src/assets/logo.png">
    </div>
    <div class="hint__container">
      <div class="hint">SCROLL </div>
    </div>
    <div class="start-btn__section">FIND MORE</div>
    <nav class="nav__container">
      <ol>
        <li class="active">HOME</li>
        <li>ABOUT</li>
        <li>STONE</li>
      </ol>
    </nav>
  </div>
</section>
<section class="authoer__section">
  <div class="authoer__article__section">
    <div class="title red-line">Find your sugar - RACH</div>
    <div class="context">
      Nisi velit nisi elit fugiat minim dolore eiusmod excepteur velit. Minim excepteur laborum enim culpa consequat.
      Labore quis voluptate deserunt officia reprehenderit laboris reprehenderit adipisicing aliquip velit eu commodo
      do Lorem. Magna et ipsum proident dolore Lorem exercitation dolore dolore pariatur est veniam dolore. Nostrud
      tempor nisi labore sit non enim. Quis aute nisi enim ex nulla. Nostrud sint Lorem amet quis sit anim eu ad.
      <br>
      <br>
      Ullamco ex commodo id elit sint aliquip magna pariatur duis adipisicing. Nulla aute excepteur laborum occaecat
      ullamco qui. Proident amet velit occaecat magna reprehenderit.
      <br>
      <br>
      Excepteur incididunt laboris laborum in minim. Ex culpa Lorem aute pariatur. Tempor aliqua
      tempor mollit qui amet minim eiusmod culpa sint exercitation. Cillum amet dolor qui enim reprehenderit sunt in
      Lorem amet aliqua ad. Tempor exercitation est culpa duis sint tempor et laborum pariatur tempor.
    </div>
  </div>
  <div class="author__section__image__section red-line">
    <img src="/src/assets/travel.png" alt="" class="portrait ">
  </div>
</section>
<div class="choose-stone__section">
  <div class="stone-image__section">
    <div class="title red-line">Now, what is the stone you desire?</div>
    <img src="/src/assets/stone2.png" alt="" class="stone-image">
  </div>
  <div class="options__section">
    <ul>
      <li class="red">Granite</li>
      <li>Onyx</li>
      <li>Quartz</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>